body {
    background-color:#150E28;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }

  h6,h5,h4{
    font-family: 'Clash Display', sans-serif;
    font-size: .8750em;
  }


  p{
      font-size: 1rem;
  }

  .small{
      font-size: 0.75em;
  }

  /* .flare{
    background-image: url("/assets/Purple-Lens-Flare-PNG.png" );
    background-repeat: no-repeat;
  } */

  .star{
    background-image: url("../assets/star\ pu.png" );
    background-repeat: no-repeat;
  }

  .bg-purple{
    background-color: #150E28;
    padding: 0px;
  }

  /* .star1{
    background-image: url("/assets/star1.png" );
    background-repeat: no-repeat;
   
  } */

  .flare1{
    background-image: url("../assets/Purple-Lens-Flare1-PNG.png" );
    background-repeat: no-repeat;
    padding: 0px;
  }

  .navbar{
    background-color: #150E28;
  }

  .nav-item>a{
      color: #ffff;
  }

  .nav-item>a:hover{
    color: #D434FE;
}
/* images */
img.idea{
    width: 80%;
}

img.rule-star{
    position: absolute;
    margin-left: 20%;
    margin-top: 5%;
}

img.star7{
    position: absolute;
    margin-top: 40%;
}

img.star-trophy{
    margin-left: 30%;
}

.globe-img{
    position: absolute;
    right: 10%;
    width: 40%;
}

.boy-img{
    position: relative;
    top: 0;
    left: 0;
}
/*  */
.license{
    color: #D434FE;
}

a{
    text-decoration: none;
    color: #ffff;
}

.p-border{
    border: 1px solid #D434FE;
    padding: 25px;
}

.vector{
    position: relative;
    top: 0;
    left: 0;
}

.open-lock{
    position: absolute;
    top: auto;
    right: 10%;
    margin-top: 15%;
}

.get-accordion{
    background-color: #150E28;
}

.foot{
    margin-top: 20rem;
}

/* forms */
.form-bg>input{
    background-color: #150E28;
    color: #ffff;
    border-radius: 0px;
}

.form-bg>textarea{
    background-color: #150E28;
    color: #ffff;
    border-radius: 0px;
}

.form-control::-webkit-input-placeholder{
    color: #ffff;
}

.form-control:valid{
    background-color: #150E28;
    color: #ffff;
}

.form-control:focus{
    box-shadow: none;
}

.sel>select{
    background-color: #150E28;
    color: #ffff;
    border-radius: 0px;
}

.form-select:valid{
    background-color: #150E28;
    color: #ffff;
}

.form-check>input{
    background-color: #150E28;
    color: #ffff;
    border-radius: 0px;
}

/* accordion */
/* Style the button that is used to open and close the collapsible content */
.content>p{
    font-size: .8rem;
}

.collapsible {
    background-color: #150E28;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-bottom: 1px solid #D434FE;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #150E28;
  }
  
  .collapsible:after {
    content: '\002B';
    color: #D434FE;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #150E28;
  }

  /* Timeline */

  /* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .timeline.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }
  
  /*  */


/* button */

button.btn{
    border-radius: 1px;
    background-image: linear-gradient(to right, #903AFF , #FE34B9);
    border: 0px;
    color: #ffff;
}

.bstoast{
    background: #17c236;
}

.modal-body, .modal-footer{
    background-color: #150E28;
    color: #ffff;
    border: 0px;
}

.pink{
    color: #ff26b9;
}

.purple{
    color: #D434FE;
}

/* Media queries */

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (min-width: 600px) {
    .arrow {
      margin-top: 70%;
      /* margin-left: 5px; */
    }

    .sm1{
        display: none;
    }

    .bd{
        border: 0px solid;
        background: #ffffff08;
        padding: 30px;
    }
  }

  @media screen and (max-width: 600px) {
    .ctc{
        display: none;
    }

    p {
      font-size: 0.8rem;
      text-align: center;
    }

    small, .small{
        font-size: .75rem;
    }

    img.star-trophy{
       display: none;
    }

    .green-check{
        text-align: left;
    }

    .r-and-g{
        flex-direction: column-reverse;
    }

    .globe-img {
        position: absolute;
        right: 10%;
        width: 80%;
    }
    .lg{
        display: none;
    }

    .sm{
        display: block;
    }
    button.btn{
        margin: auto;
    }

    .ignite{
        font-size: calc(1.0rem + .1vw);
    }
    .dash{
        max-width: 40%;
    }
    .t{
        text-align: left;
    }

    .d-center{
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .social{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-row{
        flex-direction: column-reverse;
    }

    .hd{
        font-size: 1.25rem;
        text-align: center;
    }

    .collapsible{
        padding: 5px;
    }
  }



