body {
    background-color:#150E28;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }

  h6{
      font-size: .8750em;
  }
  .small{
      font-size: 0.75em;
  }

  /* .flare{
    background-image: url("/assets/Purple-Lens-Flare-PNG.png" );
    background-repeat: no-repeat;
  } */

  .star{
    background-image: url("../assets/star\ pu.png" );
    background-repeat: no-repeat;
  }

  .bg-purple{
    background-color: #150E28;
    padding: 0px;
  }

  /* .star1{
    background-image: url("/assets/star1.png" );
    background-repeat: no-repeat;
   
  } */

  .flare1{
    background-image: url("../assets/Purple-Lens-Flare1-PNG.png" );
    background-repeat: no-repeat;
    padding: 0px;
  }

  .navbar{
    background-color: #150E28;
  }

  .nav-item>a{
      color: #ffff;
  }

  .nav-item>a:hover{
    color: #D434FE;
}
/* images */
img.idea{
    width: 80%;
}

img.rule-star{
    position: absolute;
    margin-left: 20%;
    margin-top: 5%;
}

img.star7{
    position: absolute;
    margin-top: 40%;
}

img.star-trophy{
    margin-left: 30%;
}

.globe-img{
    position: absolute;
    right: 10%;
    width: 40%;
}

.boy-img{
    position: relative;
    top: 0;
    left: 0;
}
/*  */
.license{
    color: #D434FE;
}

a{
    text-decoration: none;
    color: #ffff;
}

.p-border{
    border: 1px solid #D434FE;
    padding: 25px;
}

.vector{
    position: relative;
    top: 0;
    left: 0;
}

.open-lock{
    position: absolute;
    top: auto;
    right: 10%;
    margin-top: 15%;
}

.get-accordion{
    background-color: #150E28;
}

.foot{
    margin-top: 20rem;
}

/* forms */
.form-bg>input{
    background-color: #150E28;
    color: #ffff;
    border-radius: 0px;
}

.form-bg>textarea{
    background-color: #150E28;
    color: #ffff;
    border-radius: 0px;
}

.form-control::-webkit-input-placeholder{
    color: #ffff;
}

.form-control:valid{
    background-color: #150E28;
    color: #ffff;
}

.form-control:focus{
    box-shadow: none;
}

.sel>select{
    background-color: #150E28;
    color: #ffff;
    border-radius: 0px;
}

.form-select:valid{
    background-color: #150E28;
    color: #ffff;
}

.form-check>input{
    background-color: #150E28;
    color: #ffff;
    border-radius: 0px;
}

.bd{
    border: 0px solid;
    background: #ffffff08;
    padding: 70px;
}

/* button */

button.btn{
    border-radius: 1px;
    background-image: linear-gradient(to right, #903AFF , #FE34B9);
    border: 0px;
    color: #ffff;
}

.bstoast{
    background: #17c236;
}

.modal-body, .modal-footer{
    background-color: #150E28;
    color: #ffff;
    border: 0px;
}

.pink{
    color: #ff26b9;
}

.purple{
    color: #D434FE;
}

/* Media queries */

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (min-width: 600px) {
    .arrow {
      margin-top: 70%;
      /* margin-left: 5px; */
    }

    .sm1{
        display: none;
    }

    /* .lg1{
        display: ;
    } */
  }

  @media screen and (max-width: 600px) {
    p {
      text-align: center;
    }

    .r-and-g{
        flex-direction: column-reverse;
    }

    .globe-img {
        position: absolute;
        right: 10%;
        width: 80%;
    }
    .lg{
        display: none;
    }

    .sm{
        display: block;
    }
    button.btn{
        margin: auto;
    }

    .ignite{
        font-size: calc(1.0rem + .1vw);
    }
    .dash{
        max-width: 40%;
    }
    .t{
        text-align: left;
    }

    .d-center{
        display: flex;
        justify-content: center;
        margin: auto;
    }
  }



